/* .right-panel {
  width: 20%;
  background-color: #f4f4f4;
  padding: 10px;
  padding-top: 4rem;
} */
.right-panel-container {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  overflow-y: auto;
  height: 100%;
}

.right-panel-container h3 {
  font-size: 1.25rem;
  color: #333;
  margin-bottom: 10px;
  border-bottom: 2px solid #007bff;
  padding-bottom: 5px;
}

.right-panel-container p {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
}

.right-panel-container:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

.right-panel-container::-webkit-scrollbar {
  width: 8px;
}

.right-panel-container::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 10px;
}

.right-panel-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}
